.clear:after  {
    clear: both;
    content: '';
    display: block;
}


div.ie_alert_text  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #ddd;
    z-index: 10000;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
    font-family: 'SpoqaHanSans',  sans-serif;
}

#skip-nav  {
    font-size: 16px;
    line-height: 40px;
    position: fixed;
    z-index: 100000;
    top: -40px;
    left: 0;
    width: 100%;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .6);
}

#skip-nav:focus {
    top: 0;
}

.slick-slide {
    outline: 0;
}

.page_top {
    display: none;
}

.slick-arrow.slick-hidden {
    display: block !important;
}



/* con */
[class*="con-"][class*="-width1"] {
    position: relative;
    max-width: 1400px;
    width: 93%;
    margin: 0 auto;
}

[class*="con-"][class*="-width2"] {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    width: 93%;
}


/* footer */
[class*="con-"][class*="-width3"] {
    position: relative;
    width:  94%;
    margin: 0 auto;
}

[class*="-layout"] {
    position: relative;
}



/* container */
#wrap,  
#container  {
    width: 100%;
    position:  relative;
    overflow: hidden;
}

#contents  {
    position: relative;
}

#wrap .inner * {
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}



/* header */
header {
    width: 100%;
    height:  100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index:  5000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'GmarketSansMedium';
    transition: 0.3s;
}

header.active {
    position: fixed;
}

header:hover {
    background: #fff;
}

header.active:hover {
    background: none;
}

header .header_wrap {
    text-align: center;
}

header .header_wrap:after {
    display: block;
     content: "";
     clear: both;
}

header .logo a {
    width: 150px;
    height: 60px;
    background: url(../images/main/main_logo_white.png) no-repeat;

    position: absolute;
    left: 3%;
    top: 22px;
}

header .logo a {
    display: block;
}

header .logo_sub a {
    width: 150px;
    height: 60px;
    background: url(../images/main/main_logo_white.png) no-repeat;

    position: absolute;
    left: 3%;
    top: 22px;
}

header .logo_sub a {
    display: block;
}

header #nav {}

header #nav .gnb {
    display:  flex;
    justify-content: center;
	overflow: hidden;

}

header #nav .gnb: after {
    display: block;
     content: "";
     clear: both;
}

header #nav .gnb > li.detph1 {
    float: left;
    transition: 0.3s;
}

header #nav .gnb li.detph1:last-child:after {
    display: none;
}

header #nav .gnb li.detph1 > a {
    position: relative;
    padding:  0 50px;
    font-family: 'GmarketSansMedium';
    font-size:  20px;
    font-weight: 500;
    display: block;
    color:  #fff;
    line-height:  100px;
    letter-spacing: 1.5px;
    transition: 0.3s;
}

header:hover #nav .gnb li.detph1 > a {
    color: #333;
     font-weight: 600;
}

header.active:hover #nav .gnb li.detph1 > a {
    color: #fff;
     font-weight: 500;
}

header #nav .gnb li.detph1 > a:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: scaleX(0);
    transition: .2s ease-out;
    width: 30px;
    height: 5px;
    margin-left: -15px;
    background: #cf4520;
 }

header #nav .gnb li.detph1:hover > a:after {
    transform: scaleX(1);
    transition:  .1s ease-out;
}


header .lnb {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #f2f2f2;
   
}

header .lnb:before {
    display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 1px;
     background: rgba(213, 213, 213, 0.6);
     display: block;
     content: "";
}

header .lnb ul {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    z-index: 2;
}

header .lnb ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 30px;
    box-sizing: border-box;
    transition: 0.3s;
}

header .lnb ul li a {
    font-size: 18px;
    color: #333;
    font-family:  'GmarketSansLight';
    padding-top: 40px;

    position: relative;
    display: inline-block;
    vertical-align: middle;
}

header .lnb ul li a:hover {
    color: #cf4520;
}

header .layout-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

header .layout-right:after {
    display: block;
    content: "";
    clear: both;
}



/* all menu */
header .layout-right .toggle {
    position: relative;
    float: right;
    width: 100px;
    height: 101%;
    background: #ea660c;
    z-index: 1002;
    padding: 34px;
    box-sizing: border-box;
    cursor: pointer;
}

header .layout-right .toggle:after {
    display: block;
     clear: both;
     content: "";
}

header .layout-right .toggle_menu {
	width:  32px;
	height:  35px;
	position:  relative;
    
	/* top:  37px;*/
	background:  0;
	box-sizing: border-box;
	border: 0;
	outline: 0;

}

header .layout-right .toggle_menu span {
    float: right;
    width: 100%;
    height:  3px;
    background:  #fff;
    display: block;
    margin:  4px 0;
    transition:  0.2s ease-in;
}

header .layout-right .toggle:hover span {
    width: 70%;
    transition: 0.3s ease-in;
}

header .layout-right .toggle:hover span:nth-child(2) {
    width: 100%;
    transition: 0.3s ease-in;
}

header .layout-right .toggle.active:hover span {
    transition: 0s;
     width: 100%;
}

header .layout-right .toggle_menu.act span {
    margin: 3px 0;
     transition: 0s;
 }

header .layout-right .toggle_menu.act:hover span {
    margin: 3px 0;
     transition: 0s;
 }

header .layout-right .toggle_menu.act span:nth-child(1) {
    margin-top:  0;
}

header .layout-right .toggle_menu span:nth-child(2) {
    width:  70%;
}

header .layout-right .toggle_menu span.on header {
    height: 400px;
}

header .layout-right .toggle_menu>.on:nth-child(1)  {
    transform:  translateY(11px) rotate(-45deg);
     transition-delay:  0.5s;
     transition: all 0.5s;
}

header .layout-right .toggle_menu>.on:nth-child(2)  {
    opacity:  0;
     transform:  translateX(50px);
}

header .layout-right .toggle_menu>.on:nth-child(3)  {
    transform:  translateY(-11px) rotate(45deg);
    transition-delay:  0.5s;
    transition: all 0.5s;
}


header .all_menu {
    width: 100%;
    background: #fff;

    position: absolute;
    left: 50%;
   
    transform: translateX(-50%);
   
    display: none;
    z-index: 1002;
    overflow: hidden;

}

header .all_menu .inner {
    width: 100%;
    max-width: 1360px;
   
    display: table;

    overflow: hidden;
}

header .all_menu .inner .box {
    width: 16.6%;
    height: 100%;
    display: table-cell;
    padding: 190px 0;
}


header .all_menu .inner .box h2 {
    position: relative;
    font-size: 24px;
    color: #444;
    font-weight: 600;
    line-height: 1em;
    font-family:'GmarketSansMedium';
    
}

header .all_menu .inner .box h2:after {
    content: "";

    width: 30px;
    height: 5px;

    background: #ea660c;
    margin: 35px auto 0;

    display: block;
}

header .all_menu .inner .box ul li {
    margin-top: 23px;
}

header .all_menu .inner .box ul li a {
    font-size: 18px;
    color: #777;
    font-weight:500;
    font-family: 'GmarketSansLight';
    padding: 0 5%;

    display: block;
    line-height: 1.5;
    word-break: keep-all;
}

header .all_menu .inner .box ul li:hover a {
    color: #ea660c;
    font-family:'GmarketSansMedium';
}



/* footer */
footer  {
    position: relative;
    width: 100%;
    min-height:  245px;
    padding:  40px 0;
    box-sizing: border-box;
    background:  #222;
    font-size:  14px;
    color:  rgba(255, 255, 255, 0.7);
    font-weight:  300;
    z-index: 999999999999999999;
}

footer * {
    font-size: 14px;
}

footer .footer_logo a {
    display: block;
}

footer .info .addr {
    font-family: 'GmarketSansLight';
}

footer .info .addr,  
#wrap footer ul.tel {
   /* display:  inline-block;*/

}

footer .info {
    margin-top: 25px;
    font-family: 'GmarketSansMedium';
}

footer .info .tel li {
    font-size:  12px;
   /* display:  inline-block;*/
    vertical-align:  middle;
    position:  relative;
    line-height:  2em;
}


footer .copy {
    font-size: 12px;
     margin-top: 5px;
}

footer .privacy {
    font-size: 20px;
    font-family:  'GmarketSansMedium';
    position: absolute;
    top: 0;
    right: 0;
    
}

footer .privacy ul {
    overflow: hidden;
}

footer .privacy li {
    float: left;
}

footer .privacy li+li:before {
    display: inline-block;
    content: "";
    position: relative;
    top: 3px;
    margin: 0 8px 0 7px;
    width: 1px;
    height: 14px;
    background: rgba(255, 255, 255, 0.7);
    vertical-align: top;
}



@-webkit-keyframes lineActiveAnimation  {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }
    49% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    50% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    99% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }
}


@keyframes lineActiveAnimation  {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    49% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }

    50% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    99% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }
}


@keyframes infinite1 {
    
   0% {
        transform: translateY(0);
    }

   50% {
        transform: translateY(10px);
    }

   100% {
        transform: translateY(0px);
    }

}


@media(max-width: 1600px) {
	#wrap header #nav .gnb li.detph1 > a {
        padding: 0 30px;
        transition: 0.3s;
    }

	#wrap header #nav .gnb li.detph2 {
        padding: 0 15px;
        transition: 0.3s;
    }

	#wrap footer .privacy {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 20px;
    }

	#wrap header .all_menu {
		transform: rotateX(0);
		display: none;
		position: fixed;
		right: 0;
		left: auto;
		top: 0;
		width: 89%;
		height: 100%;
		padding: 100px 0 0px;
		background: #fff;
		border-radius: 0;
		z-index: 1001;
	}

	#wrap header .all_menu .inner {
        width: 100%;
        height: 100%;
        padding: 0 4%;
        padding-bottom: 200px;
        display: block;
        max-width: initial;
        overflow-y: scroll;
        box-sizing: border-box;
    }

	#wrap header .all_menu .inner .box {
        width: 100%;
        height: auto;
        display: block;
        border: 0;
        padding: 0;
        margin-top: -1px;
    }

	#wrap header .all_menu .inner .box h2 {
		font-family: 'GmarketSansMedium';
		font-size: 25px;
		color: #333;
		font-weight: 600;
		padding: 30px 0;
		text-align: left;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}

	#wrap header .all_menu .inner .box h2: after {
        display: none;
    }

	#wrap header .all_menu .inner .box ul {
        display: none;
        background: #f5f5f5;
        margin: 25px 0px;
        padding: 20px 0;
    }

	#wrap header .all_menu .inner .box ul li {
         margin-top: 0;
    }

	#wrap header .all_menu .inner .box ul li a {
        font-family: 'GmarketSansMedium';
        position: relative;
        font-size: 16px;
        color: #555;
        font-weight: 500;
        text-align: left;
        padding: 10px 10px;
        margin: 0px 20px;
    }

	#wrap header .all_menu .inner .box ul li a:before {
        display: block;
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #777;
    }
	
	#wrap header .all_menu .inner .box h2:before {
        position: absolute;
        top: 32px;
        right: 24.5px;
        width: 3px;
        height: 22px;
        margin-top: -1px;
        display: block;
        content: "";
        background: #000;
        display: block;
    }

	#wrap header .all_menu .inner .box h2.active:before {}

	#wrap header .all_menu .inner .box h2.active:before {
        display:  none;
    }

	#wrap header .all_menu .inner .box h2:after {
        position: absolute;
        top: 6px;
        right: 15px;
        width: 22px;
        height: 3px;
        display: block;
        content: "";
        background: #000;
    }


	#wrap header.active .layout-right .toggle.active {
        background: #fff;
    }

	#wrap header.active .layout-right .toggle.active .toggle_menu span {
        background: #333;
    }

	#wrap header .all_menu .inner .box:last-child {
        border: 0;
    }
}


@media(max-width: 1280px) {
    
	#wrap header #nav {
        display: none;
    }

	.page_top {
        position: relative;
        z-index: 100;
        text-align: center;
    }

	.page_top #top_btn {
        border: 0;
        position: fixed;
        display: block;
        bottom: 30px;
        right: 3%;
        width: 60px;
        height: 60px;
        font-family: 'GmarketSansMedium';
        color: #1e1e1e;
        font-size: 14px;
        font-weight: 600;
        background: #c3c3c3;
        border-radius: 50%;
        text-align: center;
        line-height: 72px;
    }

	.page_top #top_btn:before {
        position: absolute;
        top: 17px;
        left: 26px;
        display: block;
        content: "";
        width: 2px;
        height: 8px;
        background: #1e1e1e;
        transform: rotate(45deg);
    }

	.page_top #top_btn:after {
        position: absolute;
        top: 17px;
        right: 27px;
        display: block;
        content: "";
        width: 2px;
        height: 8px;
        background: #1e1e1e;
        transform: rotate(-45deg);
    }
}



@media(max-width: 768px) {
	#wrap header {
        height: 70px;
    }

	#wrap header .logo a {
        top: 10px;
    }

    #wrap header .logo_sub a {
        top: 10px;
        background-size: 80%;
    }
    
	#wrap header .layout-right .toggle {
        width: 70px;
        padding: 20px;
    }

	#wrap header .layout-right .toggle_menu {
        width: 30px;
        height: 30px;
    }

	#wrap header .layout-right .toggle_menu span {
        height: 2px;
        margin: 3.5px 0;
    }

	#wrap header .all_menu {
        padding: 100px 0 0;
        width: 80%;
    }

	#wrap header .all_menu .inner .box h2 {
        font-size: 20px;
        padding: 20px 0;
        
    }

	#wrap header .all_menu .inner .box ul {
        margin: 15px 0;
        padding: 13px 0;
    }

    #wrap header .all_menu .inner .box ul li a {
        margin: 0 13px;
        padding: 10px 8px;
        font-size: 16px;
    }

	#wrap header .all_menu .inner .box ul li a: before {
        width: 2px;
        height: 2px;
        top: 13px;
    }

    #wrap header .all_menu .inner .box h2:before {
        top: 25px;
        right: 17.5px;
        width: 3px;
        height: 15px;
        margin-top: -1px;
    }

    #wrap header .all_menu .inner .box h2:after {
        top: -5px;
        right: 12px;
        width: 15px;
        height: 3px;
    }

	.page_top #top_btn {
        width: 45px;
        height: 45px;
        font-size: 12px;
        line-height: 58px;
    }

	.page_top #top_btn:before {
        top: 11px;
        left: 20px;
        width: 2px;
        height: 7px;
    }

	.page_top #top_btn:after {
        top: 11px;
        right: 19px;
        width: 2px;
        height: 7px;
    }

	#wrap footer {
        padding: 30px 0;
        min-height: auto;
    }

	#wrap footer * {
        font-size: 12px;
    }

	#wrap footer .footer_logo a img {
        width: 60px;
    }

	#wrap footer .privacy {
        margin-top: 20px;
    }

	#wrap footer .copy {
        margin-top: 7px;
    }

	#wrap footer .info {
        margin-top: 15px;
    }

	#wrap footer .info .tel li:first-child:before {
        display: none;
    }

	#wrap footer .info .tel li:before {
        top: 1px;
    }

	#wrap footer .privacy li+li:before {
        height: 11px;
    }

	#wrap header .layout-right .toggle_menu>.on: nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

	#wrap header .layout-right .toggle_menu>.on:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }

}



