@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

/* 초기화 */
html,
body,
a,
p {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  /* 수정)미모지 배경 따면 흰색으로 교체 */
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  /* height: 4000px; */
  height: 100%;
}


/* ---------------------------------[ 로고 ]--------------------------------- */
#logo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background-color: #ffffff60;
  /* 수정) 색, 불투명도 조절 */
}

#logo img {
  display: block;
  margin: 15px auto;
  height: 50px;
  /* filter: invert(100%); */
  /* 수정)이미지 색 반전 */
}


/* ---------------------------------[ hello, icon, 미모티콘 ]--------------------------------- */
#cont {
  position: relative;
  margin: 100px auto;
  width: 950px;
  height: 610px;
}

#icon {
  margin: 0 auto;
  color: #000;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 2px solid orange; */
  z-index: 1;
}

/* #icon a {
  text-decoration: none;
  color: #000;
  background: #fff;
} */

#icon img {
  display: block;
  width: 100px;
}

.i1 {
  position: absolute;
  top: 100px;
  left: 170px;
  z-index: 2;
}

/* .i1>a {
    display: scroll; 
  } */

.i2 {
  position: absolute;
  top: 250px;
  left: 100px;
  z-index: 2;
}

.i3 {
  position: absolute;
  top: 400px;
  left: 170px;
  z-index: 2;
}

.i4 {
  position: absolute;
  top: 100px;
  right: 170px;
  z-index: 2;
}

.i5 {
  position: absolute;
  top: 250px;
  right: 100px;
  z-index: 2;
}

.i6 {
  position: absolute;
  top: 400px;
  right: 170px;
  z-index: 2;
}

#text {
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px auto;
  width: 100%;

  /* margin-bottom: 0; */
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 300%;
  color: #000;
  /* 수정)글자 색 */
  /* letter-spacing: 0.1em; */
}

.hello {
  font-size: 1em;
  font-weight: bold;
}

.jang {
  font-size: 1.4em;
}

/* .me {
    font-size: 20px;
    font-weight: normal;
  } */

.ready {
  position: absolute;
  top: 10%;
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  /* background: url(./img/ready2.mov); */
}

.ready>img {
  display: block;
  margin: 0 auto;
  /* width: 421px; */
}


/* ---------------------------------[ Sub pages ]--------------------------------- */
/* ------------------------- 아이콘 클릭시 이동하는 페이지 ------------------------ */


#sp {
  color: #000;
  font-size: 40px;

}

#sp::after {
  content: '';
  display: block;
  clear: both;
}

#sp img {
  width: 200px;
  height: 200px;
  /* margin: 44px; */
  float: left;
}

#sp p {
  margin-top: 100px;
}


#i1 {
  width: 100%;
  height: 810px;
  border: 2px solid orange;
}

#i2 {
  width: 100%;
  height: 810px;
  border: 2px solid orange;
}

#i3 {
  width: 100%;
  height: 810px;
  border: 2px solid orange;
}

#i4 {
  width: 100%;
  height: 810px;
  border: 2px solid orange;

  padding-top: 100px;
}


#i5 {
  width: 100%;
  height: 810px;
  border: 2px solid orange;
}

#i6 {
  width: 100%;
  height: 810px;
  border: 2px solid orange;
}




/* --------------------------------- 하단 --------------------------------- */

#footer {
  position: fixed;
  height: 100px;
  bottom: 0px;
  /* left: 0; */
  width: 100%;
  z-index: 3;
  background-color: #fff;
  /* 수정) 색, 불투명도 조절 */

  /* border-top: 1px solid #ffffff30; */
}

#footer .fb {
  position: absolute;
  border: 1px solid rgba(161, 161, 161, 0.637);
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  z-index: 4;
}

#footer .fb a {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0, 0, 0, 0.637);
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
}